*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
section{
    padding: 40px;
}

/* start of head  */
.home {
    background-image: url("h_img.jpg");   
    height: 100%;
    position: relative;
    background-size: cover;
    color: #fff;
    padding: 0 0 0 0;

}

.home .logo img{
    float: left;
    margin-left: 10rem;
    margin-top: 7rem;
    align-items: center;
    margin-right: 15rem;
}

.home .welcome h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 0rem;
    height: 400px;
    line-height: 50rem;
    margin-bottom: 4rem;
    margin-right: 20rem;
}

.home .delanistudio h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 0rem;
    height: 400px;    
    margin-bottom: 1rem;
}
.home p{
    margin-bottom: 3rem;
    font-size: 0.5remrem;
    text-align: center;
    margin-top: 1rem;
}